$typecsset-base-font-size: 16px;
$typecsset-base-line-height: 24px;

@import 'vendor/typecsset';

$red: #C80909;
$black: #333;
$white: #fff;

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  background-color: #FCFCFC;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

img {
  @include typecsset-space(margin-bottom);

  border: 1px solid $red;
  border-radius: 120px;
  height: 120px;
  width: 120px;
}

h1 {
  @include typecsset-font-size(36px);
}

nav {
  align-self: flex-start;
}

ul {
  margin: 0;
  padding: 0;

  @include typecsset-space(margin-top);

  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;

  li {
    padding: 0 1rem;

    a {
      @include typecsset-font-size(16px);

      display: block;
      text-decoration: none;
      color: $black;

      &:hover {
        color: $red;
      }
    }
  }
}

