$typecsset-base-font-size: 16px;
$typecsset-base-line-height: 24px;

@import 'vendor/typecsset';

$red: #C80909;
$black: #333;
$white: #fff;

html, body {
  height: 100%;
  width: 100%;
  min-height: 500px;
}

body {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  background-color: #FCFCFC;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

img {
  @include typecsset-space(margin-bottom);

  border: 1px solid $red;
  border-radius: 120px;
  height: 120px;
  width: 120px;
}

h1 {
  @include typecsset-font-size(36px);
}

p {
  @include typecsset-font-size(16px);

  a {
    color: $black;

    &:hover {
      color: $red;
    }
  }
}

