<section class="hero">
  <div class="avatar" alt="Gravatar"></div>
  <h1>I'm Jun</h1>
  <p>a Software Developer</p>
</section>

<section class="block contact">
  <a href="http://twitter.com/linjunpop" class="icon icon-twitter"></a>
  <a href="https://github.com/linjunpop" class="icon icon-github"></a>
  <a href="mailto://linjunpop@gmail.com" class="icon icon-gmail"></a>
</section>
