<img src="http://s.gravatar.com/avatar/c7b8c0b4ef05e68e2c92cd912eca414b?s=240" alt="Gravatar"/>
<h1>I'm Jun</h1>
<p>I'm <span class='tick'></span> days old.</p>
<p>Programmer, mainly Ruby & Elixir.</p>
<p>
  Find me on
  <a href="http://twitter.com/linjunpop">Twitter</a>
  and
  <a href="https://github.com/linjunpop">GitHub</a>.
</p>

