<img src="http://s.gravatar.com/avatar/c7b8c0b4ef05e68e2c92cd912eca414b?s=240" alt="Gravatar"/>
<section>
  <p>Hi, I'm Jun</p>
  <p>I like to
    <a href="https://github.com/linjunpop">code</a>,
    <a href="http://blog.linjun.me">blog</a> and
    <a href="http://twitter.com/linjunpop">tweet</a>.
  </p>
  <p>I also
    <a href="http://500px.com/linjunpop">take photos</a>.
  </p>
</section>
