<img src="http://s.gravatar.com/avatar/c7b8c0b4ef05e68e2c92cd912eca414b?s=240" alt="Gravatar"/>
<h1>Hi, I'm Jun</h1>
<p>Programmer, mainly Ruby & Rails.</p>
<p>
  Find me on
  <a href="http://twitter.com/linjunpop">Twitter</a>
  and
  <a href="https://github.com/linjunpop">GitHub</a>.
</p>

<p>Feel free to <a href="mailto:linjunpop@gmail.com?subject=Hi">say hi</a>!</p>
