<section class="hero">
  <div class="avatar" alt="Gravatar"></div>
  <h1>I'm Jun</h1>
  <p>a Software Developer</p>
</section>

<hr />

<section class="intro">
  <div class="icon-container">
    <div class="avatar" alt="Gravatar"></div>
  </div>
  <div class="info">
    <h2>What I do.</h2>
    <p>I solve problems by writing software. Including but not limited to build the website across devices, and craft elegant mobile apps.</p>
  </div>
</section>

<hr />

<section class="open-source">
  <div class="info">
    <h2>Open source.</h2>
    <p>
      I love to share my works, some of them are published on
      <a href="https://rubygems.org/profiles/linjunpop">RubyGems</a>,
      <a href="https://hex.pm/users/linjunpop">Hex</a>
      and
      <a href="https://www.npmjs.com/~linjunpop">NPM</a>,
      there are more on
      <a href="https://github.com/linjunpop">GitHub</a>.
    </p>
  </div>
  <div class="icon-container">
    <div class="avatar" alt="Gravatar"></div>
  </div>
</section>

<hr />

<section class="contact">
  <div class="icon-container">
    <div class="avatar" alt="Gravatar"></div>
  </div>
  <div class="info">
    <h2>Chat with me.</h2>
    <p>
      Find me on
      <a href="http://twitter.com/linjunpop">Twitter</a>
      or send me an
      <a href="mailto://linjunpop@gmail.com">email</a>.
    </p>
  </div>
</section>
