<section class="hero">
  <div class="avatar" alt="Gravatar"></div>
  <h1>I'm Jun</h1>
  <p>a Software Developer</p>
</section>

<section class="block works">
  <h2>Works</h2>

  <div class="work">
    <div class="icon-container">
      <div class="icon work-kaifa"></div>
    </div>
    <div class="info">
      <h3>
        <ruby>
          <rb>开</rb>
          <rp><rt>kāi</rt></rp>
          <rb>发</rb>
          <rp><rt>fā</rt></rp>
          <rb>哩</rb>
          <rp><rt>lī</rt></rp>
        </ruby>
      </h3>
      <p>A product to help developers find dev docs quickly.
        Including a website written in Elixir,
        a Command-line tool written in Go,
        and an Alfred workflow.
        (<a href="http://kaifa.at" target="_blank">link</a>)
      </p>
    </div>
  </div>

  <div class="work">
    <div class="icon-container">
      <div class="icon work-philter"></div>
    </div>
    <div class="info">
      <h3>Philter</h3>
      <p>An offline document browser for hex.pm, build with Electron.</p>
    </div>
  </div>

  <div class="work">
    <div class="icon-container">
      <div class="icon languages"></div>
    </div>
    <div class="info">
      <h3>Open source.</h3>
      <p>
        Some of my works are published on
        <a href="https://rubygems.org/profiles/linjunpop">RubyGems</a>,
        <a href="https://hex.pm/users/linjunpop">Hex</a>
        and
        <a href="https://www.npmjs.com/~linjunpop">NPM</a>,
        there are more on
        <a href="https://github.com/linjunpop">GitHub</a>.
      </p>
    </div>
  </div>
</div>

<section class="block contact">
  <h2>Contact me</h2>

  <div class="info">
    <p>
      Find me on
      <a href="http://twitter.com/linjunpop">Twitter</a>
      or send me an
      <a href="mailto://linjunpop@gmail.com">email</a>.
    </p>
  </div>
</section>
